In [4]:
import pandas as pd
import requests

requisicao = requests.get(r'https://pt.wikipedia.org/wiki/Premier_League_de_2023%E2%80%9324')

tabelas = pd.read_html(requisicao.text)
tabela_classificacao = tabelas[7]
tabela_jogos = tabelas[10]
display(tabela_classificacao)
display(tabela_jogos)

C:\Users\Noboru Saito\AppData\Local\Temp\ipykernel_17768\1365133364.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tabelas = pd.read_html(requisicao.text)

,Pos,Equipe,Pts,J,V,E,D,GP,GC,SG,Classificação ou descenso
0,1,Liverpool,48,21,14,6,1,47,18,+29,Fase de grupos da Liga dos Campeões da UEFA de...
1,2,Manchester City,43,20,13,4,3,48,23,+25,Fase de grupos da Liga dos Campeões da UEFA de...
2,3,Arsenal,43,21,13,4,4,42,20,+22,Fase de grupos da Liga dos Campeões da UEFA de...
3,4,Aston Villa,43,21,13,4,4,43,27,+16,Fase de grupos da Liga dos Campeões da UEFA de...
4,5,Tottenham,40,21,12,4,5,44,31,+13,Fase de grupos da Liga Europa da UEFA de 2024–25
5,6,West Ham,35,21,10,5,6,35,32,+3,NaN
6,7,Brighton & Hove Albion,32,21,8,8,5,38,33,+5,NaN
7,8,Manchester United,32,21,10,2,9,24,29,−5,NaN
8,9,Chelsea,31,21,9,4,8,35,31,+4,NaN
9,10,Newcastle,29,21,9,2,10,41,32,+9,NaN
10,11,Wolverhampton,29,21,8,5,8,30,31,−1,NaN
11,12,Bournemouth,25,20,7,4,9,28,39,−11,NaN
12,13,Fulham,24,21,7,3,11,28,36,−8,NaN
13,14,Brentford,22,20,6,4,10,29,33,−4,NaN
14,15,Crystal Palace,21,21,5,6,10,22,34,−12,NaN
15,16,Nottingham Forest,20,21,5,5,11,26,38,−12,NaN
16,17,Everton,17[a],21,8,3,10,24,28,−4,NaN
17,18,Luton Town,16,20,4,4,12,24,38,−14,Zona de rebaixamento à EFL Championship de 202...
18,19,Burnley,12,21,3,3,15,21,42,−21,Zona de rebaixamento à EFL Championship de 202...
19,20,Sheffield United,10,21,2,4,15,17,51,−34,Zona de rebaixamento à EFL Championship de 202...

,Casa \ Fora,ARS,AVL,BOU,BRE,BHA,BUR,CHE,CRY,EVE,...,LIV,LUT,MCI,MUN,NEW,NFO,SHU,TOT,WHU,WOL
0,Arsenal,—,NaN,NaN,NaN,2–0,3–1,a,5–0,NaN,...,NaN,NaN,1–0,3–1,NaN,2–1,5–0,2–2,0–2,2–1
1,Aston Villa,1–0,—,NaN,NaN,6–1,3–2,NaN,3–1,4–0,...,NaN,3–1,1–0,NaN,NaN,NaN,1–1,NaN,4–1,NaN
2,Bournemouth,0–4,2–2,—,NaN,NaN,2–1,0–0,NaN,NaN,...,0–4,NaN,NaN,NaN,2–0,NaN,NaN,0–2,1–1,1–2
3,Brentford,0–1,1–2,2–2,—,NaN,3–0,NaN,NaN,1–3,...,NaN,3–1,NaN,NaN,NaN,3–2,NaN,2–2,3–2,1–4
4,Brighton & Hove Albion,NaN,NaN,3–1,2–1,—,1–1,NaN,NaN,NaN,...,2–2,4–1,NaN,NaN,3–1,NaN,1–1,4–2,1–3,0–0
5,Burnley,NaN,1–3,NaN,NaN,NaN,—,1–4,0–2,0–2,...,0–2,1–1,0–3,0–1,NaN,NaN,5–0,2–5,1–2,NaN
6,Chelsea,2–2,0–1,NaN,0–2,3–2,NaN,—,2–1,NaN,...,1–1,3–0,4–4,NaN,NaN,0–1,2–0,a,NaN,NaN
7,Crystal Palace,0–1,NaN,0–2,3–1,1–1,NaN,NaN,—,2–3,...,1–2,NaN,NaN,NaN,NaN,0–0,NaN,1–2,NaN,3–2
8,Everton,0–1,0–0,3–0,NaN,1–1,NaN,2–0,NaN,—,...,a,1–2,1–3,0–3,3–0,NaN,NaN,NaN,NaN,0–1
9,Fulham,2–1,NaN,NaN,0–3,NaN,0–2,0–2,NaN,NaN,...,NaN,1–0,NaN,0–1,NaN,5–0,3–1,NaN,5–0,3–2
10,Liverpool,1–1,3–0,3–1,3–0,NaN,NaN,NaN,NaN,2–0,...,—,NaN,NaN,0–0,4–1,3–0,NaN,NaN,3–1,NaN
11,Luton Town,3–4,NaN,NaN,NaN,NaN,1–2,2–3,2–1,NaN,...,1–1,—,1–2,NaN,1–0,NaN,NaN,0–1,1–2,1–1
12,Manchester City,NaN,NaN,6–1,NaN,2–1,NaN,NaN,2–2,NaN,...,1–1,NaN,—,a,1–0,2–0,2–0,3–3,NaN,NaN
13,Manchester United,NaN,3–2,0–3,2–1,1–3,NaN,2–1,0–1,NaN,...,a,1–0,0–3,—,NaN,3–2,NaN,2–2,NaN,1–0
14,Newcastle,1–0,5–1,NaN,1–0,NaN,2–0,4–1,4–0,NaN,...,1–2,NaN,2–3,1–0,—,1–3,NaN,NaN,NaN,NaN
15,Nottingham Forest,NaN,2–0,2–3,1–1,2–3,1–1,NaN,NaN,0–1,...,NaN,2–2,NaN,2–1,NaN,—,2–1,0–2,NaN,NaN
16,Sheffield United,NaN,NaN,1–3,1–0,NaN,NaN,NaN,0–1,2–2,...,0–2,2–3,1–2,1–2,0–8,NaN,—,NaN,2–2,2–1
17,Tottenham,a,1–2,3–1,NaN,NaN,NaN,1–4,NaN,2–1,...,2–1,NaN,NaN,2–0,4–1,NaN,2–1,—,1–2,NaN
18,West Ham,NaN,1–1,NaN,NaN,0–0,NaN,3–1,1–1,0–1,...,NaN,NaN,1–3,2–0,NaN,3–2,2–0,NaN,—,3–0
19,Wolverhampton,NaN,NaN,NaN,NaN,1–4,1–0,2–1,NaN,3–0,...,1–3,NaN,2–1,NaN,2–2,1–1,NaN,2–1,NaN,—

In [11]:
nomes_times = list(tabela_jogos['Casa \ Fora'])
apelido = list(tabela_jogos.columns)
apelido.pop(0)
print(nomes_times)
print(apelido)

de_para_times = dict(zip(apelidos, nomes_times))
print(de_para_times)

['Arsenal', 'Aston Villa', 'Bournemouth', 'Brentford', 'Brighton & Hove Albion', 'Burnley', 'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Liverpool', 'Luton Town', 'Manchester City', 'Manchester United', 'Newcastle', 'Nottingham Forest', 'Sheffield United', 'Tottenham', 'West Ham', 'Wolverhampton']
['ARS', 'AVL', 'BOU', 'BRE', 'BHA', 'BUR', 'CHE', 'CRY', 'EVE', 'FUL', 'LIV', 'LUT', 'MCI', 'MUN', 'NEW', 'NFO', 'SHU', 'TOT', 'WHU', 'WOL']
{'ARS': 'Arsenal', 'AVL': 'Aston Villa', 'BOU': 'Bournemouth', 'BRE': 'Brentford', 'BHA': 'Brighton & Hove Albion', 'BUR': 'Burnley', 'CHE': 'Chelsea', 'CRY': 'Crystal Palace', 'EVE': 'Everton', 'FUL': 'Fulham', 'LIV': 'Liverpool', 'LUT': 'Luton Town', 'MCI': 'Manchester City', 'MUN': 'Manchester United', 'NEW': 'Newcastle', 'NFO': 'Nottingham Forest', 'SHU': 'Sheffield United', 'TOT': 'Tottenham', 'WHU': 'West Ham', 'WOL': 'Wolverhampton'}

In [24]:
tabela_jogos_ajustada = tabela_jogos.set_index("Casa \ Fora")
tabela_jogos_ajustada = tabela_jogos_ajustada.unstack().reset_index()
tabela_jogos_ajustada = tabela_jogos_ajustada.rename(columns={"level_0": "fora", "Casa \ Fora": "casa", 0: "resultado"})


def ajustar_apelido_time(linha):
    apelido = linha["fora"]
    nome = de_para_times[apelido]
    return nome

tabela_jogos_ajustada["fora"] = tabela_jogos_ajustada.apply(ajustar_apelido_time, axis=1)
tabela_jogos_ajustada = tabela_jogos_ajustada[tabela_jogos_ajustada["fora"]!=tabela_jogos_ajustada["casa"]]

display(tabela_jogos_ajustada)

              fora                    casa resultado
1          Arsenal             Aston Villa       1–0
2          Arsenal             Bournemouth       0–4
3          Arsenal               Brentford       0–1
4          Arsenal  Brighton & Hove Albion       NaN
5          Arsenal                 Burnley       NaN
..             ...                     ...       ...
394  Wolverhampton               Newcastle       NaN
395  Wolverhampton       Nottingham Forest       NaN
396  Wolverhampton        Sheffield United       2–1
397  Wolverhampton               Tottenham       NaN
398  Wolverhampton                West Ham       3–0

[380 rows x 3 columns]

In [28]:
tabela_jogos_ajustada["resultado"] = tabela_jogos_ajustada["resultado"].fillna("a jogar")
tabela_jogos_realizados = tabela_jogos_ajustada[tabela_jogos_ajustada["resultado"].str.contains("–")]
display(tabela_jogos_realizados)
tabela_jogos_faltantes = tabela_jogos_ajustada[~tabela_jogos_ajustada["resultado"].str.contains("–")]
tabela_jogos_faltantes = tabela_jogos_faltantes.drop(columns=["resultado"])
display(tabela_jogos_faltantes)

              fora               casa resultado
1          Arsenal        Aston Villa       1–0
2          Arsenal        Bournemouth       0–4
3          Arsenal          Brentford       0–1
6          Arsenal            Chelsea       2–2
7          Arsenal     Crystal Palace       0–1
..             ...                ...       ...
389  Wolverhampton             Fulham       3–2
391  Wolverhampton         Luton Town       1–1
393  Wolverhampton  Manchester United       1–0
396  Wolverhampton   Sheffield United       2–1
398  Wolverhampton           West Ham       3–0

[207 rows x 3 columns]

              fora                    casa
4          Arsenal  Brighton & Hove Albion
5          Arsenal                 Burnley
12         Arsenal         Manchester City
13         Arsenal       Manchester United
15         Arsenal       Nottingham Forest
..             ...                     ...
390  Wolverhampton               Liverpool
392  Wolverhampton         Manchester City
394  Wolverhampton               Newcastle
395  Wolverhampton       Nottingham Forest
397  Wolverhampton               Tottenham

[173 rows x 2 columns]